@import "tailwindcss";
/*
MAP MOVEMENT
*/
#movement{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

#resizing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin: 0 0 10px 10px;
}

#resizing > *{
    width: 30%;
    margin: 0.2rem;
    background-color: rgb(190, 182, 182);
    text-align: center;
    font-size: 1rem;
}

#cardinal{
    display: flex;
    flex-direction: column;
}

#cardinal > *{
    margin: 0.2rem;
    background-color: rgb(190, 182, 182);
    text-align: center;

}